.container {
  max-width: var(--container-width-m);
  padding: 0 16px;
  margin: auto;

  @media (min-width: 900px) {
    padding: 0 24px;
  }

  &--small {
    max-width: var(--container-width-s);
  }

  &--no-padding {
    padding: 0;
  }
}
