.reset-button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  background: transparent;
  border: 0;
  cursor: pointer;
  appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &[disabled] {
    color: var(--color-primary-10);
    cursor: not-allowed;
  }
}
