:root {
  /* Colors */
  --color-primary-100: #4e382f;
  --color-primary-10: #d8c394;

  --color-secondary-100: #e4cb8a;

  --color-white-100: #ffffff;

  --color-red-100: #a43b34;

  --color-text: var(--color-primary-100);

  /* Shadows */
  --shadow-soft: 0 0 24px rgba(0, 0, 0, 0.1);
  --shadow-default: 10px 10px 60px rgba(0, 0, 0, 0.4);

  /* Skeleton */
  --color-skeleton-light: var(--color-primary-10);
  --color-skeleton-dark: var(--color-primary-10);

  /* Typography */
  --font-family-base-primary: "Saira";
  --font-family-base-secondary: "Rubik";
  --font-family-display-primary: "Stencil";
  --font-family-display-secondary: "Rye";

  --line-height-base: 1.2;

  --font-size-extra-small: 12px;
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-large: 18px;

  --h1-font-size: 40px;
  --h2-font-size: 24px;
  --h3-font-size: 16px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;

  /* Border */
  --border-radius-default: 8px;
}
